.layout-container{
  height: 100%;
  width: 100%;
  display: flex;
  .left{
    width: 320px;
    height: 100%;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    .avatar{
      margin-top: 64px;
    }
    .nav{
      margin-top: 44px;
      ul{
        li:hover{
          color: lightblue;
        }
        li{
          cursor: pointer;
          height: 32px;
          line-height: 32px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          &.active{
            color: lightblue;
          }
        }
      }
    }
    .link-way{
      margin-top: 44px;
      color: #fff;
      ul{
        li{
          color: #fff;
          height: 32px;
          line-height: 32px;
          font-size: 16px;
          span{
            margin-left: 10px;
          }
          a{
            margin-left: 10px;
            &:hover{
              cursor: pointer;
              color: lightblue;
            }
          }
        }
      }
    }
  }
  .content{
    .container{
      padding: 16px;
    }
    background-color: #f0f2f5;
    height: 100%;
    flex:1;
    
  }
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 1;
}

.fade-enter-active,
.fade-exit-active {
  transition: all 300ms;
}



