img{
  --s:256px;
  --c1:#c02942;
  --c2:#ecd078;
  --b1:5px;
  --f:1;
  --backgound:content-box
  no-repeat center / calc(100% / var(--f)) 100%;
  --shirk:calc((var(--s) / var(--f) - var(--s)) / 2 - var(--b1));
  cursor: pointer;
  transform: 0.5s;
  transform: scale(var(--f));
  outline: var(--b1) solid var(--c1);
  border-radius: 0 0 999px 999px;
  padding-top: 50px;
  outline-offset: var(--shirk);
  background: radial-gradient(
    circle closest-side,
    var(--c2) calc(99% - var(--b1)),
    var(--c1) calc(100% - var(--b1)),
    var(--c1) 99%,
    transparent 100%
    ) 
    var(--backgound);

  -webkit-mask:linear-gradient(#000 0 0) no-repeat center calc(0px - var(--shirk)) / calc(100% / var(--f) - 2 * var(--b1)) 50%, radial-gradient(circle closest-side,
  #000 99%,transparent 
  ) var(--backgound);

}

img:hover{
  --f:1.35
}